{% extends "base.html" %}

{% block title %}Policy Collection{% endblock %}

{% block content %}

<div class="container" style="min-height: 760px;">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <h4 class="text-center" style="padding:10px; padding-top: 20px;">POLICY COLLECTION</h4>
            <p class="text-descr" style="padding-bottom:10px">
                On this page you can explore our collection of peatland-related policies. 
                At the moment, you can filter the policies by country, governance level, and category.
                We will be adding further polices and querying methods as we grow our portal.
            </p>

            <div class="row justify-content-center">
                <div class="col-3">
                    <div class="dropdown">
                        <button class="btn btn-success dropdown-toggle" style="width: 100%;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Countries
                        </button>
                        <ul class="dropdown-menu">
                        </ul>
                    </div>
                </div>
                <div class="col-3">
                    <div class="dropdown">
                        <button class="btn btn-success dropdown-toggle" style="width: 100%;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Governance Level
                        </button>
                        <ul class="dropdown-menu">
                        </ul>
                    </div>
                </div>
                <div class="col-3">
                    <div class="dropdown">
                        <button class="btn btn-success dropdown-toggle" style="width: 100%" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Policy Category
                        </button>
                        <ul class="dropdown-menu" style="padding:0px;">
                        </ul>
                    </div>
                </div>
            </div>

            <div class="accordion pol-coll-div" id="pol-coll-div" style="margin-bottom: 10px;">
            </div>
        </div>
    </div>
</div>

<script>
    // defining dictionaries
    const pillDct = 
        {'Economy': `econ-class-pill`,
        'Land-Use / Agriculture': `land-class-pill`,
        'Environmental quality: water, soil, air':`env-class-pill`,
        'Community and Culture':`comm-class-pill`,
        'Climate':`clm-class-pill`,
        'Energy':`enr-class-pill`,
        'Biodiversity':`bio-class-pill`,
        'Research and applied sciences':`res-class-pill`,
        //
        'Land Use / Agriculture': `land-class-pill`,
        'Climate Action':`clm-class-pill`,
        'Research and Applied Sciences':`res-class-pill`,
        'Environment Quality':`env-class-pill`,
        };

    const pillNames = 
        {'Economy': `Economy`,
        'Land-Use / Agriculture': `Land-Use / Agriculture`,
        'Environmental quality: water, soil, air':`Environmental Quality`,
        'Community and Culture':`Community and Culture`,
        'Climate':`Climate`,
        'Energy':`Energy`,
        'Biodiversity':`Biodiversity`,
        'Research and applied sciences':`Research`,
        //
        'Land Use / Agriculture': `Land-Use / Agriculture`,
        'Climate Action':`Climate`,
        'Research and Applied Sciences':`Research`,
        'Environment Quality':`Environmental Quality`,
        };
    //https://www.alt-codes.net/flags
    const flagmojis = {
        "Global":"🌐",
        "European":"🇪🇺",
        "Austria":"🇦🇹",
        "Belgium":"🇧🇪",
        "Bulgaria":"🇧🇬",
        "Croatia":"🇭🇷",
        "Cyprus":"🇨🇾",
        "Czech Republic":"🇨🇿",
        "Denmark":"🇩🇰",
        "Estonia":"🇪🇪",
        "Finland":"🇫🇮",
        "France":"🇫🇷",
        "Germany":"🇩🇪",
        "Greece":"🇬🇷",
        "Hungary":"🇭🇺",
        "Iceland":"🇮🇸",
        "Ireland":"🇮🇪",
        "Italy":"🇮🇹",
        "Latvia":"🇱🇻",
        "Liechtenstein":"🇱🇮",
        "Lithuania":"🇱🇹",
        "Luxembourg":"🇱🇺",
        "Malta":"🇲🇹",
        "Netherlands":"🇳🇱",
        "Norway":"🇳🇴",
        "Poland":"🇵🇱",
        "Portugal":"🇵🇹",
        "Romania":"🇷🇴",
        "Slovakia":"🇸🇰",
        "Slovenia":"🇸🇮",
        "Spain":"🇪🇸",
        "Sweden":"🇸🇪",
        "Switzerland":"🇨🇭",
        "United Kingdom":"🇬🇧"
    }
    // how to display policies
    function policyCollectionGetShow(polLst){
        const polPop = $('#pol-coll-div');
        polPop.html('');
        polPop.append(`<h4 id="pol-res-he" class="text-center" style="padding-bottom:20px">Policies</h4>`);
        for (let i = 0; i < polLst.length; i++) {
            var policy = polLst[i];
            console.log(policy);
            // categories html, gets all categories in their pill form
            var categ_coll = [`<p class="badge rounded-pill ${ pillDct[policy["primary_category"]] }">${ pillNames[policy["primary_category"]] }</p>`];
            var categ_lst = policy["category"].sort();
            if(categ_lst.length > 1){
                categ_coll.push(`|`);
            }
            for (let c=0; c < categ_lst.length; c++){
                if(categ_lst[c] != policy["primary_category"]){
                    categ_coll.push(`<p class="badge rounded-pill ${ pillDct[categ_lst[c]] }">${ pillNames[categ_lst[c]] }</p>`);
                }
            }
            var categs_html = categ_coll.join(" ");
            // publishers html, gets all publishers
            var publs_coll = [];
            policy["publisher"].forEach(publisher =>
                publs_coll.push(`<p class="d-inline">${publisher}</p>`)
            );
            var publs_html = publs_coll.join(`; <p class="d-inline" style="font-size:14px">👤</p><p class="d-inline">`);
            // level / sublevel html, accounts for global and european, adds emojis
            var lvl_area_html = ``;
            if(["European", "Global"].includes(policy['policy_level'])){
                lvl_area_html = `<p class="d-inline" style="font-size:14px">${ flagmojis[policy['policy_level']] }</p> <p class="d-inline">${ policy['policy_level'] } </p>`;
            }else{
                if(policy["country"] in flagmojis){
                    lvl_area_html = `<p class="d-inline" style="font-size:14px">${ flagmojis[policy['country']] }</p> <p class="d-inline">${policy['country']} | ${ policy['policy_level'] } </p>`;
                }else{
                    lvl_area_html = `<p> ${ policy['country'] } | ${ policy['policy_level'] } </p>`;
                }
            }
            // duration html, accounts for missing dates
            var duratn_html = ``;
            if(policy['year_from'] && policy['year_to']){
                duratn_html = `${policy['year_from']}-${policy['year_to']}`;
            }else{
                if(policy['year_from']){
                    duratn_html = `${policy['year_from']}-`;
                }else if(policy['year_to']){
                    duratn_html = `-${policy['year_to']}`;
                }
            }
            // try to split abstract by \n to retain line breaks?
            var abst_sents = policy['abstract_english'].split("\n");
            var abst_ps = [];
            abst_sents.forEach(sentence =>
                abst_ps.push(`<p class="poltxt">${ sentence }</p>`)
            );
            var abst_html = abst_ps.join(`<p style="margin-bottom:5px;"></p>`);
            // title
            var title_html = `${ policy['name'] }`;
            // links
            var links_html = `<div style="margin-top:10px;margin-bottom:10px;">
                        <a href="${ policy['data_link'] }" class="polcol-lnk d-inline" style="font-weight:500" target="_blank">Policy Document ⬇️</a> | 
                        <a href="${ policy['documentation_link'] }" class="polcol-lnk d-inline" style="font-weight:500" target="_blank">Policy Info Page ↗</a>
                        </div>`;
            var element = `<div class="accordion-item polcol-acc-itm" style="margin-bottom:5px;">
                                <div class="accordion-header polcol-acc-hdr">
                                    <button class="accordion-button collapsed polcol-acc-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapse${i}" aria-expanded="true" aria-controls="collapse${i}">
                                        <div class="container">
                                            <p style="font-weight:bold;">${ title_html }</p>
                                            ${ lvl_area_html }
                                        </div>
                                    </button>
                                </div>
                                <div id="collapse${i}" class="accordion-collapse collapse polcol-acc-coll">
                                    <div class="accordion-body polcol-acc-bdy">
                                        <div style="line-height: 1; margin-bottom:15px;">
                                            <p class="d-inline"> ${ duratn_html } | </p><p class="d-inline" style="font-size:14px">👤</p> ${ publs_html }
                                        </div>
                                        ${ abst_html }
                                        ${ links_html }
                                        <div>
                                            ${ categs_html }
                                        </div>
                                    </div>
                                </div>
                            </div>`;
            polPop.append(element);
        };
        if(!polLst){
            polPop.append(`<p class="text-center" style="color:black;">No policies found. Please try other filter combinations.</p>`);
        }
    }
    // get ALL policies and display them
    // also return all policies
    async function datafxn(){
        const url = '/policydata';
        var polLst = [];
        try {
            const response = await fetch(url);
            if (!response.ok) {
            throw new Error(`Response status: ${response.status}`);
            }
            const json = await response.json();
            polcol= json["result"]["response"];
            polcol.forEach(pol =>{
                polLst.push(pol);
            })
        } catch (error) {
            console.error(error.message);
        }
        //console.log(polLst);
        policyCollectionGetShow(polLst);
        return polLst;
    }
    // update policy list based on filter values
    function filterPolicies(polLst){
        console.log(polLst)
    }
    var firstPolLst = datafxn();
    //console.log(firstPolLst);
</script>
{% endblock %}
